/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
  @apply w-2;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  @apply rounded-3xl;
}

.tool-spacer::before {
  @apply text-gray-400;
  content: "|";
  line-height: 40px;
}

.panel-center,
.panel-left,
.panel-right {
  width: 100%;
}

.panel-left {
  min-height: 7rem;
  max-height: 7rem;
}

.panel-right {
  min-height: 10rem;
  max-height: 10rem;
}

@media (min-width: 1280px) {
  .panel-center {
    width: 70%;
  }

  .panel-left,
  .panel-right {
    width: 15%;
    max-height: none;
  }
}

.aspect-ratio {
  padding-top: (10 / 16) * 100%;
}

.bounce-r-enter-active {
  animation: bounce-r 0.5s;
}

.bounce-r-leave-active {
  animation: bounce-r 0.3s reverse;
}

@keyframes bounce-r {
  0% {
    transform: scale(0) rotate(-3deg);
  }
  50% {
    transform: scale(1.25) rotate(7deg);
  }
  100% {
    transform: scale(1) rotate(3deg);
  }
}

.bounce-l-enter-active {
  animation: bounce-l 0.5s;
}

.bounce-l-leave-active {
  animation: bounce-l 0.3s reverse;
}

@keyframes bounce-l {
  0% {
    transform: scale(0) rotate(-3deg);
  }
  50% {
    transform: scale(1.25) rotate(7deg);
  }
  100% {
    transform: scale(1) rotate(-2deg);
  }
}

.slide-show-enter-active {
  animation: slide-show 0.3s;
}

.slide-show-leave-active {
  animation: slide-hide 0.3s;
}

@keyframes slide-show {
  0% {
    transform: scaleX(0) translateX(-2rem);
  }
  100% {
    transform: scaleX(1) translateX(0);
  }
}

@keyframes slide-hide {
  0% {
    transform: translateX(0) scaleY(1);
  }
  100% {
    transform: translateX(0.5rem) scaleY(0);
  }
}
